[bumpversion]
current_version = 16.6.4.1
serialize = {now:%y.%-m.%-d}.{micro}
parse = \d{2}.\d{1,2}.\d{1,2}.(?P<micro>\d+)

commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:setup.py]
[bumpversion:file:lektor_envvars.py]
